  
.featureList
{
    margin:0 auto;
    max-width:1120px;
}
.featureList >ul{
    text-align:left;
    list-style: circle;
}
.featureList >ul >li{
    display: block;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
    color:blue;
  
}