header{
    background-color: rgb(77 203 135);;
}
ul >li>a
 {
     color: white;
     text-decoration: none;
     font-size:20px;
     font-weight:600;
 }
 
 ul{
    margin: 0 auto;
    width: 100%;
    padding:20px;
    padding-left: 0;
    text-align: right;
 }
 
 ul>li{
    display:inline;
    margin:0 auto;
    margin-right: 2%;
    margin-left: 1%;
    padding:10px;
 }
 .navItems
 {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 0px 8px 0px rgb(158 153 153);
 }
  .loginButton
  {
    margin-right:2%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
 .logoutOuterDiv >button
 {
  
    font-size: 15px;  
    padding: 10px;
    background: white;
    color: rgb(77 203 135);;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:100px;
 }
 .hamburger
 {
    display:none;
    padding:10px;
    text-align:right;
    border:none;

 }
 .close
 {
    float:left;
    padding:10px;
 }
 .hamburger >button{
   font-size:15px;
   height:30px;
 }
 .sideNav{
   display:none;
   }
.navTabs
   {
      padding:10px;
   
}
