 
 ul{
     margin:0;   
     background-color: #f3f3f4;   
 }
li{
    
    list-style: none;
    display:inline;
    
}   
li:link{
    text-decoration:none;   
}
a{
    margin:3%;
    text-decoration:none;
    color:grey  ;
    font-weight: bold;
}
a:hover{
     color:darkgrey;
}
 
 .logoutOuterDiv
 { 
     width: 100%;
  
     font-weight: bold;
        
     margin-top:5%;
     margin-right:10%;
     
     padding-bottom:10px;
 }